
.stopwatch2 {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.time2 {
    font-size: 2em;
    margin-bottom: 20px;
}

